/* Global settings */
:root {
    --siw-blue: #22406C; /*#1e3f6d*/
    --siw-yellow: #FFEC1C; /*#f5c84c*//*#f6c94c*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    background-color: var(--siw-blue); /*#003366*/
    color: white;
    z-index: 1000; /* Ensures nav is above other content */
}

nav #logo {
    height: 6rem;
    width: auto;
    transition: all 0.3s ease;
}

nav #logo.scrolled {
    height: 3rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    gap: 5rem;
}

#nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

#nav-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display:inline-block;
    border-radius: 0.3rem;
    transition: background-color 0.3s, color 0.3s;
}

#nav-menu li a:hover {
    background-color: var(--siw-yellow); /* lichtgeel */
    color: var(--siw-blue); /* donkerblauw */
}

#nav-menu li a.active {
    color: var(--siw-yellow);
}

#nav-menu li a.active:hover {
    color: var(--siw-blue);
}

/* Hamburger */
#hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Header */
header {
    background-image: url('images/hero.png'); 
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--siw-yellow);
    text-shadow: 1px 1px 2px black;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* Main */
main {
    flex: 1;
    /* max-width: 90ch; */
    margin: 2rem auto;
    padding: 0 1rem;
}

main section {
    margin-bottom: 3rem;
    max-width: 90ch;
}

main h1,
main h2 {
    margin-bottom: 0.7rem;
}

main h1 {
    font-size: 1.8rem;
}

main h2 {
    font-size: 1.5rem;
}

main p {
    line-height: 1.6;
    text-align: justify;
}

main img {
    width: 100%;
    max-width: 90ch;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    margin: 1.5rem auto;
    border-radius: 0.75rem;
}

main a:hover {
    color: var(--siw-blue);
    text-decoration: none;
}
  
/* lists */
main ul {
    padding-left: 4rem;
    list-style-type: disc;
    margin-top: 0.5rem;
    line-height: 1.6;
}
  
main li {
    margin-bottom: 0.3rem;
}
 
/* Footer */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}


/* Responsive */
@media (max-width: 1200px) {
    .nav-container {
        gap: 2rem;
    }

    #nav-menu {
        gap: 1rem;
    }

    #nav-menu li a {
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width: 1200px) {
    .nav-container {
        gap: 1rem;
    }

    #nav-menu li a {
        font-size: 1rem;
        padding: 0.3rem 0.3rem;
    }
}

@media (max-width: 768px) {
    .nav-container{
        justify-content: space-between;
        gap: 0;
    }

    #nav-menu {
        flex-direction: column;
        display: none;
        background-color: #003366;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    #nav-menu.active {
        display: flex;
    }

    #hamburger {
        display: block;
    }
}